@import "_vars.scss";
@import "_reset.scss";
@import "_global.scss";
@import "_fonts.scss";
@import "_libs.scss";

.header__top {
	background-color: $dark-800;
}

.top {
	padding: 17px 0 15px;
	display: flex;
	justify-content: space-between;

	&__info {
		display: flex;
	}

	&__item {
		margin-left: 60px;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: -1px;
			width: 100%;
			height: 25px;
			width: 32px;
		}

		&--car::before {
			background-image: url('../images/icons/icon_top1.svg');
			// background-image: url('../images/stack/sprite.svg#icon_top1');
			left: -65px;
			background-repeat: no-repeat;
		}

		&--phone::before {
			background-image: url('../images/icons/icon_top2.svg');
			left: -35px;
			background-repeat: no-repeat;
		}
	}


	&__link {
		@extend %opensans-700;
		font-size: 13px;
		line-height: 18px;
		letter-spacing: 0.03em;
		color: $white;
		text-transform: uppercase;
		transition: opacity 0.5s ease,
			color 0.5s ease;

		&:focus {
			outline: none;
		}

		&:hover {
			opacity: 0.7;
		}

		&:active {
			color: $green-200;
		}
	}
}

.menu {

	&__list {
		display: flex;
	}

	&__item:not(:first-child) {
		margin-left: 25px;
	}

	&__link {
		@extend %opensans-700;
		font-size: 13px;
		line-height: 18px;
		letter-spacing: 0.03em;
		color: $white;
		text-transform: uppercase;
		transition: box-shadow 0.5s ease;

		&:focus {
			box-shadow: 0px 0px 0px 3px $green-100;
			border-radius: 3px;
		}
	}
}

.middle {
	background-color: $green-900;

	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 25px 0;
	}

	&__logo-img {
		max-width: 200px;
		max-height: 60px;
		fill: $white;

		&:focus {
			outline: none;
		}
	}
}


.catalog {
	position: relative;
	display: inline-block;

	&__btn {
		background-color: $white;
		color: $green-900;
		padding: 15px 38px 15px 61px;
		border-radius: 6px;
		@extend %opensans-600;
		line-height: 1.4;
		letter-spacing: 0.03em;
		border: none;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: 25px;
			height: 17px;
			top: 16px;
			left: 20px;
			background-image: url('../images/icons/catalog_icon1.svg');
		}

		&::after {
			content: "";
			position: absolute;
			width: 8px;
			height: 4px;
			top: 24px;
			left: 210px;
			background-image: url('../images/icons/catalog_icon2.svg');
		}
	}


	&__list {
		display: none;
		position: absolute;
		background-color: $white;
		max-width: 240px;
		width: 100%;
		z-index: 1;
	}

	&__link {
		color: black;
		padding: 15px 25px;
		display: block;
		font-size: 16px;
		line-height: 1.2;
		letter-spacing: 0.03em;
		border-left: 3px solid transparent;
	}
}

.catalog {
	&:hover {
		.catalog__list {
			display: block;
		}
	}
}

.catalog__btn:hover {
	border-radius: 6px 6px 0 0;
}

.catalog__btn:hover::after {
	content: "";
	position: absolute;
	width: 8px;
	height: 4px;
	top: 24px;
	left: 210px;
	background-image: url('../images/icons/catalog_icon3.svg');

}

.catalog__link:hover {
	color: $green-900;
	border-color: $green-900;
}


.search {
	position: relative;
	max-width: 580px;
	width: 100%;

	&__form {
		display: flex;
		justify-content: start;
	}

	&__icon {
		position: absolute;
		width: 20px;
		height: 20px;
		top: 15px;
		left: 20px;
		z-index: 1;
	}

	&__input {
		width: 100%;
		padding: 0 15px 0 50px;
		border: none;
		border-radius: 5px 0 0 5px;
		outline: none;
		position: relative;

		&::placeholder {
			line-height: 1.4;
			color: $dark-800;
			letter-spacing: 0.03em;
		}
	}

	&__btn {
		max-width: 160px;
		width: 100%;
		padding: 15px 52px;
		border: none;
		border-radius: 0 6px 6px 0;
		background: $dark-800;
		color: $white;
		line-height: 1.4;
		letter-spacing: 0.03em;
		@extend %opensans-600;
		color: $white;
		text-transform: uppercase;
		cursor: pointer;
		outline: transparent;
		transition: box-shadow 0.5s ease,
			background 0.5s ease,
			opacity 0.5s ease,
			color 0.5s ease;

		&:focus {
			border-radius: 0 6px 6px 0;
			box-shadow: 0px 0px 0px 3px rgba(99, 166, 14, 0.5);
		}

		&:hover {
			background: rgba(49, 53, 43, 0.85);
		}

		&:active {
			color: rgba(255, 255, 255, 0.5);
		}
	}
}

.user {
	display: flex;
	align-items: center;

	&__item:not(:first-child) {
		margin-left: 10px;
	}

	&__link {
		position: relative;
		transition: box-shadow 0.5s ease;

	}

	&__img {
		padding: 10px 13px;
		outline: transparent;
		// fill:$white;
		// width: 32px;
		// height: 32px;
		transition: box-shadow 0.5s ease,
			background 0.5s ease,
			opacity 0.5s ease;


		&:focus {
			border-radius: 3px;
			box-shadow: 0px 0px 0px 3px $green-100;
			background: rgba(255, 255, 255, 0.1);
		}

		&:hover {
			background: rgba(255, 255, 255, 0.1);
		}

		&:active {
			opacity: 0.5;
			background: rgba(255, 255, 255, 0.1);
		}
	}

	&__num {
		position: absolute;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		background-color: $white;
		top: 0;
		right: -23px;
		text-align: center;
		font-weight: 600;
		font-size: 10px;
		letter-spacing: 0.03em;
		color: $red-900;
		// top: 50%;
		// left: 50%;
		// transform: translate(-50%, -40%);
	}
}


// slider-top
.slider-top {

	&__item {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;

		&--first {
			background-image: url('../images/slide1.jpg');
			padding: 140px 0;
		}

		&--second {
			background-image: url('../images/slide2.jpg');
			padding: 140px 0;
		}

		&--third {
			background-image: url('../images/slide3.jpg');
			padding: 127px 0;
		}
	}


	&__inner {
		background-color: rgba(255, 255, 255, 0.8);
		padding: 24px;
	}

	&__title {
		@extend %ruda-900;
		font-size: 60px;
		line-height: 1.3;
		text-transform: uppercase;
		max-width: 1000px;
		margin-bottom: 12px;
	}

	&__sutitle {
		@extend %ruda-700;
		font-size: 60px;
		line-height: 1.3;
		text-transform: uppercase;
		color: $red-900;
	}

	&__text {
		font-size: 16px;
		line-height: 1.4;
		margin-bottom: 32px;
	}

	&__link {
		font-size: 18px;
		line-height: 1.3;
		letter-spacing: 0.03em;
		color: $white;
		background-color: $green-900;
		padding: 12px 24px;
		border-radius: 4px;
		outline: transparent;
		transition: box-shadow 0.5s ease,
			background 0.5s ease,
			color 0.5s ease;

		&:focus {
			box-shadow: 0px 0px 0px 4px $green-200;
			border-radius: 6px;
		}

		&:hover {
			background: #4D810C;
		}

		&:active {
			color: rgba(255, 255, 255, 0.5);
		}
	}

	&__prev,
	&__next {
		border: none;
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 6px;
		padding: 18px;
		cursor: pointer;
		position: absolute;
		z-index: 1;
		top: 50%;
		transform: translateY(-57%);
		outline: transparent;
		transition: box-shadow 0.5s ease,
			background 0.5s ease,
			opacity 0.5s ease;

		&:disabled {
			opacity: 0.8;
		}

		&:focus {
			background: #F2F2F2;
			box-shadow: 0px 0px 0px 3px rgba(99, 166, 14, 0.5);
			border-radius: 3px;
		}

		&:hover {
			background: $green-200;
			fill: $green-900;
		}

		&:active {
			background: #F3F3F2;
		}
	}

	&__prev {
		left: 62px;
	}

	&__next {
		right: 62px;
	}
}

// extra-info

.advantages {
	margin-bottom: 90px;
	padding: 50px 0 30px 0;
	background-color: $silver-100;

	&__list {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: 0 160px;
		align-items: baseline;
	}

	&__item {
		max-width: 265px;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			background-repeat: no-repeat;
			width: 50px;
			height: 50px;
			top: 0;
			left: -60px;
		}

		&--moto::before {
			content: "";
			background-image: url('../images/icons/extra_info1.svg');
		}

		&--returns::before {
			content: "";
			background-image: url('../images/icons/extra_info2.svg');
		}

		&--clock::before {
			content: "";
			background-image: url('../images/icons/extra_info3.svg');
		}
	}



	&__title {
		@extend %opensans-600;
		font-size: 16px;
		line-height: 1.4;
		color: $dark-900;
		margin-bottom: 7px;
	}

	&__text {
		line-height: 1.4;
		max-width: 185px;
	}
}

// top-product
.top-product {
	margin-bottom: 70px;

	&__title {
		margin-bottom: 30px;
	}

	&__filter {
		display: flex;
		justify-content: center;
		margin-bottom: 50px;
	}

	&__items:not(:last-child) {
		margin-right: 25px;
	}

	

}

.article {
	margin: 0 auto 50px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;


	&__item {
		position: relative;
		border: 1px solid rgba(17, 17, 17, 0.2);
		border-radius: 6px;
		max-height: 410px;
		padding: 20px;
		transition: border 0.5s ease;

		&:hover {
			border: 1px solid #63A60E;
		}
	}


	&__like-btn {
		content: "";
		position: absolute;
		margin: 20px 20px 0 0;
		padding: 6px;
		border: none;
		background-color: transparent;
		top: 0px;
		right: 0px;
		width: 32px;
		height: 30px;
		background-image: url('../images/icons/like.svg');
		z-index: 1;
		// background-image: url('../images/stack/sprite.svg#like');
		background-repeat: no-repeat;
		transition: box-shadow 0.5s ease,
			background 0.5s ease,
			opacity 0.5s ease;

		&:focus {
			border-radius: 3px;
			box-shadow: 0px 0px 0px 3px $green-100;
			background: rgba(255, 255, 255, 0.1);
		}

		&:hover {
			background-color: $yellow-900;
		}

		&:active {
			background-color: $yellow-900;
			opacity: 0.5;
		}
	}

	&__link {
		outline: transparent;
		position: relative;
		width: 100%;
		display: block;
		margin-bottom: 10px;
	}

	&__helper {
		width: 100%;
		padding-bottom: 80%;
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 90%;
		object-fit: cover;
	}

	&__title {
		@extend %opensans-600;
		line-height: 1.4;
		letter-spacing: 0.03em;
		color: $dark-900;
		max-width: 265px;
		margin-bottom: 20px;
	}

	&__oldPrice {
		letter-spacing: 0.03em;
		color: $silver-600;
		position: relative;
	}

	&__oldPrice::after {
		content: "";
		position: absolute;
		border-bottom: 1px solid $silver-600;
		width: 45px;
		left: 0;
		top: 9px;
		transform: rotate(-14.99deg);
	}

	&__price {
		letter-spacing: 0.03em;
	}

	&__cartBtn {
		position: absolute;
		background-image: url('../images/icons/product__cart.svg');
		background-repeat: no-repeat;
		border: none;
		background-color: transparent;
		right: 0;
		bottom: 0;
		width: 32px;
		height: 32px;
		margin: 0 20px 20px 0;

		&:focus {
			border-radius: 6px;
			box-shadow: 0px 0px 0px 3px rgba(99, 166, 14, 0.5);
		}

		&:hover {
			background: #4D800C;
		}

		&:active {
			box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
	}

	&__add {
		color: $green-900;
		background-color: $white;
		border: 1px solid $green-900;

		&:focus {
			background: $white;
			box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.5);
			border-radius: 3px;
		}

		&:hover {
			background: $green-100;
		}

		&:active {
			color: rgba(99, 166, 14, 0.5);
			;
			box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.1);
		}
	}
}

// top-sale
.top-sale {
	margin-bottom: 70px;

	&__list {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		color: $white;
		display: grid;
		grid-template-columns: 2fr 1fr 1fr;
		gap: 30px;
	}

	&__item {
		padding: 75px 30px;
		border-radius: 6px;

		&--fruit {
			background-image: url('../images/sale1.jpg');
		}

		&--vegetables {
			background-image: url('../images/sale2.jpg');
			color: $default;

		}

		&--bread {
			background-image: url('../images/sale3.jpg');
			color: $default;
		}
	}

	&__title {
		@extend %opensans-700;
		font-size: 12px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	&__subtitle {
		@extend %ruda-600;
		text-transform: uppercase;
		font-size: 30px;
		line-height: 1.4;
		margin-top: 20px;
		outline: transparent;
	}

	&__link {
		@extend %opensans-700;
		text-transform: uppercase;
		transition: border 0.5s ease;

		&:hover {
			border-bottom: 2px solid $white;
		}

		&:nth-child(2):hover {
			border-bottom: 2px solid $default;
		}

		&:nth-child(3):hover {
			border-bottom: 2px solid $default;
		}
	}

}

//sales
.sales {
	margin-bottom: 70px;
  &__title{
    margin-bottom: 30px;
  }
  &__filter {
  	display: flex;
  	justify-content: center;
  	margin-bottom: 50px;
  }

  &__items:not(:last-child) {
  	margin-right: 25px;
  }
	&__add {
		color: $white;
		background-color: $green-900;
		border: 1px solid $green-900;

		&:focus {
			box-shadow: 0px 0px 0px 4px $green-200;
		}

		&:hover {
			background: #4D800C;
		}

		&:active {
			color: rgba(255, 255, 255, 0.5);
		}
	}
}

// footer
.footer {
	background-color: $dark-800;
}

.footer-top {
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;

	&__img {
		margin: 30px 0;
		max-width: 200px;
		max-height: 60px;
		fill: $white;

		&:focus {
			outline: none;
		}
	}

	&__text {
		margin-bottom: 20px;
		color: $white;
	}

	&__form-input {
		padding: 12px;
		border: none;
		border-radius: 6px 0px 0px 6px;

		&::placeholder {
			color: #4F4F4F;
		}
	}


	&__form-btn {
		@extend %opensans-700;
		text-transform: uppercase;
		color: $white;
		padding: 12px 20px;
		background-color: $green-900;
		border-radius: 0px 6px 6px 0px;
		border: none;
		float: right;
		outline: transparent;
		transition: box-shadow 0.5s ease,
			background 0.5s ease,
			color 0.5s ease;

		&:focus {
			box-shadow: 0px 0px 0px 4px $green-200;
		}

		&:hover {
			background: #4D800C;
		}

		&:active {
			color: rgba(255, 255, 255, 0.5);
		}
	}

	&__item,
	&__contact-items:not(:last-child) {
		margin-bottom: 20px;
	}

	&__items:not(:first-child) {
		padding-top: 130px;
	}

	&__link,
	&__contact-item {
		line-height: 1.4;
		color: $white;
	}

	&__contact {
		margin-bottom: 20px;
	}

	&__social {
		display: flex;
	}

	&__social-item {
		outline: transparent;
		transition: box-shadow 0.5s ease,
			background 0.5s ease,
			opacity 0.5s ease;

		&:not(:last-child) {
			margin-right: 12px;
		}

		&:focus {
			box-shadow: 0px 0px 0px 3px $green-200;
			border-radius: 3px;
		}

		&:hover {
			opacity: 0.5;
		}

		&:active {
			background: rgb(224, 237, 207, 0.5);
		}
	}

	&__social-img {
		fill: $white;
		width: 32px;
		height: 32px;
	}
}

.footer-bottom {

	border-top: 1px solid rgb(255, 255, 255, 0.1);
	padding: 25px 0;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__pay {
		display: flex;
	}

	&__pay-img {
		fill: $white;
		width: 93px;
		height: 30px;
	}

	&__pay-item:not(:last-child) {
		margin-right: 25px;
	}

	&__copy {
		line-height: 1.4;
		color: $white;
	}
}