@import "_vars.scss";
@import "_reset.scss";
@import "_global.scss";
@import "_fonts.scss";
@import "_libs.scss";

.header__top {
	background-color: $dark-800;
}

.top {
	padding: 17px 0 15px;
	display: flex;
	justify-content: space-between;

	&__info {
		display: flex;
	}

	&__item {
		margin-left: 60px;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: -5px;
			width: 100%;
			height: 25px;
			width: 32px;
		}

		&--car::before {
			background-image: url('../images/stack/sprite.svg#icon_top1');
			left: -65px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
      background-size: 75px;
      filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(346deg) brightness(109%) contrast(101%);
		}

		&--phone::before {
      background-image: url('../images/stack/sprite.svg#icon_top2');
			left: -35px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			background-size: 75px;
			filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(346deg) brightness(109%) contrast(101%);
		}
	}


	&__link {
		@extend %opensans-700;
		font-size: 13px;
		line-height: 18px;
		letter-spacing: 0.03em;
		color: $white;
		text-transform: uppercase;
		transition: opacity 0.5s ease,
			color 0.5s ease;

		&:focus {
			outline: none;
		}

		&:hover {
			opacity: 0.7;
		}

		&:active {
			color: $green-200;
		}
	}
}

.menu {

	&__list {
		display: flex;
	}

	&__item:not(:first-child) {
		margin-left: 25px;
	}

	&__link {
		@extend %opensans-700;
		font-size: 13px;
		line-height: 18px;
		letter-spacing: 0.03em;
		color: $white;
		text-transform: uppercase;
		transition: box-shadow 0.5s ease;

		&:focus {
			box-shadow: 0px 0px 0px 3px $green-100;
			border-radius: 3px;
		}
	}
}

.middle {
	background-color: $green-900;

	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 25px 0;
	}

	&__logo-img {
		max-width: 200px;
		max-height: 60px;
		fill: $white;

		&:focus {
			outline: none;
		}
	}
}


.catalog {
	position: relative;
	display: inline-block;

	&:hover {
		.catalog__list {
			display: block;
		}
	}

	&__btn {
		background-color: $white;
		color: $green-900;
		padding: 15px 38px 15px 61px;
		border-radius: 6px;
		@extend %opensans-600;
		line-height: 1.4;
		letter-spacing: 0.03em;
		border: none;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: 25px;
			height: 17px;
			top: 16px;
			left: 20px;
      background-image: url('../images/stack/sprite.svg#catalog_icon1');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      filter: invert(57%) sepia(16%) saturate(6901%) hue-rotate(51deg) brightness(96%) contrast(89%);
		}

		&::after {
			content: "";
			position: absolute;
			width: 8px;
			height: 4px;
			top: 24px;
			left: 210px;
      background-image: url('../images/stack/sprite.svg#catalog_icon2');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      filter: invert(67%) sepia(26%) saturate(976%) hue-rotate(44deg) brightness(90%) contrast(89%);
		}

		&:focus {
			border-radius: 6px 6px 0 0;
		}

		&:hover {
			border-radius: 6px 6px 0 0;
			background-color: $green-200;
		}

		&:active {
			border-radius: 6px 6px 0 0;
		}

		&:hover::after {
			content: "";
			position: absolute;
			width: 8px;
			height: 4px;
			top: 24px;
			left: 210px;
      background-image: url('../images/stack/sprite.svg#catalog_icon3');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      filter: invert(67%) sepia(26%) saturate(976%) hue-rotate(44deg) brightness(90%) contrast(89%);
		}
	}


	&__list {
		display: none;
		position: absolute;
		background-color: $white;
		max-width: 240px;
		width: 100%;
		z-index: 1;
	}

	&__link {
		color: #000;
		padding: 15px 25px;
		display: block;
		font-size: 16px;
		line-height: 1.2;
		letter-spacing: 0.03em;
		border: 3px solid transparent;
		transition: border 0.5s ease,
			color 0.5s ease;

		&:focus {
			border: 3px solid $green-200;
		}

		&:hover {
			border-left: 3px solid $green-900;
			color: $green-900;
		}

		&:active {
			color: $silver-600;
		}
	}
}


.search {
	position: relative;
	max-width: 580px;
	width: 100%;

	&__form {
		display: flex;
		justify-content: start;
	}

	&__icon {
		position: absolute;
		width: 20px;
		height: 20px;
		top: 15px;
		left: 20px;
		z-index: 1;
	}

	&__input {
		width: 100%;
		padding: 0 15px 0 50px;
		border: none;
		border-radius: 5px 0 0 5px;
		outline: none;
		position: relative;

		&::placeholder {
			line-height: 1.4;
			color: $dark-800;
			letter-spacing: 0.03em;
		}
	}

	&__btn {
		max-width: 160px;
		width: 100%;
		padding: 15px 52px;
		border: none;
		border-radius: 0 6px 6px 0;
		background: $dark-800;
		color: $white;
		line-height: 1.4;
		letter-spacing: 0.03em;
		@extend %opensans-600;
		color: $white;
		text-transform: uppercase;
		cursor: pointer;
    z-index: 1;
		outline: transparent;
		transition: box-shadow 0.5s ease,
			background 0.5s ease,
			opacity 0.5s ease,
			color 0.5s ease;

		&:focus {
			border-radius: 0 6px 6px 0;
			box-shadow: 0px 0px 0px 4px $green-200;
		}

		&:hover {
			background: rgba(49, 53, 43, 0.85);
		}

		&:active {
			color: rgba(255, 255, 255, 0.5);
		}
	}
}

.user {
	display: flex;
	align-items: center;

	&__item:not(:first-child) {
		margin-left: 10px;
	}

	&__link {
		position: relative;
		transition: box-shadow 0.5s ease;

	}

	&__img {
		padding: 10px 13px;
		outline: transparent;
		// fill:$white;
		// width: 32px;
		// height: 32px;
		transition: box-shadow 0.5s ease,
			background 0.5s ease,
			opacity 0.5s ease;


		&:focus {
			border-radius: 3px;
			box-shadow: 0px 0px 0px 3px $green-100;
			background: rgba(255, 255, 255, 0.1);
		}

		&:hover {
			background: rgba(255, 255, 255, 0.1);
		}

		&:active {
			opacity: 0.5;
			background: rgba(255, 255, 255, 0.1);
		}
	}

	&__num {
		position: absolute;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		background-color: $white;
		top: 0;
		right: -23px;
		text-align: center;
		font-weight: 600;
		font-size: 10px;
		letter-spacing: 0.03em;
		color: $red-900;
		// top: 50%;
		// left: 50%;
		// transform: translate(-50%, -50%);
		padding-right: 2px;
	}
}


// slider-top
.slider-top {

	&__item {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;

		&--first {
			background-image: url('../images/slide1.jpg');
			padding: 140px 0;
		}

		&--second {
			background-image: url('../images/slide2.jpg');
			padding: 140px 0;
		}

		&--third {
			background-image: url('../images/slide3.jpg');
			padding: 127px 0;
		}
	}


	&__inner {
		background-color: rgba(255, 255, 255, 0.8);
		padding: 24px;
	}

	&__title {
		margin-bottom: 12px;
		@extend %ruda-900;
		font-size: 60px;
		line-height: 1.3;
		text-transform: uppercase;
		max-width: 1000px;
	}

	&__sutitle {
		@extend %ruda-700;
		font-size: 60px;
		line-height: 1.3;
		text-transform: uppercase;
		color: $red-900;
	}

	&__text {
		margin-bottom: 32px;
		font-size: 16px;
		line-height: 1.4;
	}

	&__link {
		font-size: 18px;
		line-height: 1.3;
		letter-spacing: 0.03em;
		color: $white;
		background-color: $green-900;
		padding: 12px 24px;
		border-radius: 4px;
		outline: transparent;
		transition: box-shadow 0.5s ease,
			background 0.5s ease,
			color 0.5s ease;

		&:focus {
			box-shadow: 0px 0px 0px 4px $green-200;
			border-radius: 6px;
		}

		&:hover {
			background: #4D810C;
		}

		&:active {
			color: rgba(255, 255, 255, 0.5);
		}
	}

	&__prev,
	&__next {
		border: none;
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 6px;
		padding: 18px;
		cursor: pointer;
		position: absolute;
		z-index: 1;
		top: 50%;
		transform: translateY(-57%);
		outline: transparent;
		transition: box-shadow 0.5s ease,
			background 0.5s ease,
			opacity 0.5s ease;

		&:disabled {
			opacity: 0.8;
		}

		&:focus {
			background: #F2F2F2;
			box-shadow: 0px 0px 0px 3px rgba(99, 166, 14, 0.5);
			border-radius: 3px;
		}

		&:hover {
			background: $green-200;
			fill: $green-900;
		}

		&:active {
			background: #F3F3F2;
		}
	}

	&__prev {
		left: 62px;
	}

	&__next {
		right: 62px;
	}
}

// extra-info

.advantages {
	margin-bottom: 90px;
	padding: 50px 0 30px 0;
	background-color: $silver-100;

	&__list {
		margin: 0 160px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		align-items: baseline;
	}

	&__item {
		max-width: 265px;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			background-repeat: no-repeat;
			width: 56px;
			height: 50px;
			top: 0;
			left: -65px;
		}

		&--moto::before {
			content: "";
      background-image: url('../images/stack/sprite.svg#extra_info1');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      filter: invert(54%) sepia(15%) saturate(2992%) hue-rotate(46deg) brightness(99%) contrast(89%);
      ;
		}

		&--returns::before {
			content: "";
      background-image: url('../images/stack/sprite.svg#extra_info2');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      filter: invert(54%) sepia(15%) saturate(2992%) hue-rotate(46deg) brightness(99%) contrast(89%);
		}

		&--clock::before {
			content: "";
      background-image: url('../images/stack/sprite.svg#extra_info3');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      filter: invert(54%) sepia(15%) saturate(2992%) hue-rotate(46deg) brightness(99%) contrast(89%);
		}
	}



	&__title {
		margin-bottom: 7px;
		@extend %opensans-600;
		font-size: 16px;
		line-height: 1.4;
		color: $dark-900;
	}

	&__text {
		line-height: 1.4;
		max-width: 185px;
	}
}

// top-product
.top-product {
	margin-bottom: 70px;

	&__title {
		margin-bottom: 30px;
	}

	&__filter {
    margin-bottom: 50px;
		display: flex;
		justify-content: center;
	}

	&__items:not(:last-child) {
		margin-right: 25px;
	}



}

.article {
	margin: 0 auto 50px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;


	&__item {
		position: relative;
		border: 1px solid rgba(17, 17, 17, 0.2);
		border-radius: 6px;
		max-height: 410px;
		padding: 20px;
		transition: border 0.5s ease;

		&:hover {
			border: 1px solid #63A60E;
		}
	}


	&__like-btn {
    content: "";
		position: absolute;
		margin: 20px 20px 0 0;
		padding: 6px;
		border: none;
		background-color: transparent;
		top: 0px;
		right: 0px;
		width: 34px;
		height: 30px;
		z-index: 1;
    background-image: url('../images/stack/sprite.svg#like');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: invert(86%) sepia(0%) saturate(0%) hue-rotate(35deg) brightness(92%) contrast(87%);
		transition: box-shadow 0.5s ease,
			filter 0.5s ease,
			opacity 0.5s ease;

		&:focus {
			border-radius: 3px;
      border-color: $green-100;
			box-shadow: 0px 0px 0px 3px $green-100;
			// background: rgba(255, 255, 255, 0.1);
		}

		&:hover {
			filter: invert(70%) sepia(47%) saturate(2440%) hue-rotate(1deg) brightness(106%) contrast(105%);
		}

		&:active {
			filter: invert(70%) sepia(47%) saturate(2440%) hue-rotate(1deg) brightness(106%) contrast(105%);
			opacity: 0.5;
		}
	}

	&__link {
		margin-bottom: 10px;
		outline: transparent;
		position: relative;
		width: 100%;
		display: block;
	}

	&__helper {
		width: 100%;
		padding-bottom: 80%;
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 90%;
		object-fit: cover;
	}

	&__title {
		margin-bottom: 20px;
		@extend %opensans-600;
		line-height: 1.4;
		letter-spacing: 0.03em;
		color: $dark-900;
		max-width: 265px;
	}

	&__oldPrice {
		letter-spacing: 0.03em;
		color: $silver-600;
		position: relative;
	}

	&__oldPrice::after {
		content: "";
		position: absolute;
		border-bottom: 1px solid $silver-600;
		width: 45px;
		left: 0;
		top: 9px;
		transform: rotate(-14.99deg);
	}

	&__price {
		letter-spacing: 0.03em;
	}

	&__cartBtn {
		margin: 0 20px 20px 0;
		position: absolute;
    background-image: url('../images/stack/sprite.svg#product__cart1');
		background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 45px;
		border: none;
    background-color: $green-900;
    border-radius: 3px;
		right: 0;
		bottom: 0;
		width: 32px;
		height: 32px;
    // filter: invert(55%) sepia(39%) saturate(2276%) hue-rotate(56deg) brightness(104%) contrast(88%);
		&:focus {
			border-radius: 6px;
			box-shadow: 0px 0px 0px 3px rgba(99, 166, 14, 0.5);
		}

		&:hover {
			background: #4D800C;
		}

		&:active {
			box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
	}

	&__add {
		color: $green-900;
		background-color: $white;
		border: 1px solid $green-900;

		&:focus {
			background: $white;
			box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.5);
			border-radius: 3px;
		}

		&:hover {
			background: $green-100;
		}

		&:active {
			color: rgba(99, 166, 14, 0.5);
			;
			box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.1);
		}
	}
}

// top-sale
.top-sale {
	margin-bottom: 70px;

	&__list {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		color: $white;
		display: grid;
		grid-template-columns: 2fr 1fr 1fr;
		gap: 30px;
	}

	&__item {
		padding: 75px 30px;
		border-radius: 6px;

		&--fruit {
			background-image: url('../images/sale1.jpg');
		}

		&--vegetables {
			background-image: url('../images/sale2.jpg');
			color: $default;

		}

		&--bread {
			background-image: url('../images/sale3.jpg');
			color: $default;
		}
	}

	&__title {
		@extend %opensans-700;
		font-size: 12px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	&__subtitle {
		margin-top: 20px;
		@extend %ruda-600;
		text-transform: uppercase;
		font-size: 30px;
		line-height: 1.4;
		outline: transparent;
	}

	&__link {
		@extend %opensans-700;
		text-transform: uppercase;
		transition: border 0.5s ease;

		&:hover {
			border-bottom: 2px solid $default;
		}

		&--fruit:hover {
			border-bottom: 2px solid $white;
		}


	}

}

//sales
.sales {
	background-color: $silver-100;
	padding: 70px 0;

	&__title {
		margin-bottom: 30px;
	}

	&__filter {
		margin-bottom: 50px;
		display: flex;
		justify-content: center;
	}

	&__items:not(:last-child) {
		margin-right: 25px;
	}

	&__add {
		color: $white;
		background-color: $green-900;
		border: 1px solid $green-900;

		&:focus {
			box-shadow: 0px 0px 0px 4px $green-200;
		}

		&:hover {
			background: #4D800C;
		}

		&:active {
			color: rgba(255, 255, 255, 0.5);
		}
	}

	&__article {
		margin-bottom: 50px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 30px;
	}

	&__article-item {
		background-color: $white;
		padding: 12px;
		border: 1px solid $silver-600;
		border-radius: 6px;
		display: flex;
		max-width: 300px;
    max-height: 125px;
		position: relative;
		transition: border 0.5s ease;

		&:hover {
			border: 1px solid $green-900;
		}
	}

	&__article-inner {
		margin-right: 30px;
	}
  &__article-link{
    position: relative;
    width: 100%;
    display: block;
  }
  &__article-helper{
    width: 100%;
    padding-bottom: 100%;
  }
  &__article-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
	&__article-info {
		justify-content: space-between;
		display: grid;
	}

	&__article-title {
		@extend %opensans-600;
		line-height: 1.4;
		letter-spacing: 0.03em;
		color: $dark-900;
	}

	&__article-presence {
		@extend %opensans-600;
		font-size: 10px;
		letter-spacing: 0.03em;
		text-transform: uppercase;

		&--instock {
			color: $green-900;
		}

		&--ends {
			color: $red-900;
		}

		&--nostock {
			color: $silver-600;
		}
	}

	&__article-price {
		@extend %opensans-600;
		font-size: 20px;
	}

	&__article-rating {
		position: absolute;
		right: 28px;
		bottom: 5px;
		border: none;
		background-color: transparent;

		&::after {
			content: "";
			position: absolute;
			// background-image: url('../images/icons/star.svg');
      background-image: url('../images/stack/sprite.svg#star');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      filter: invert(67%) sepia(94%) saturate(1033%) hue-rotate(357deg) brightness(99%) contrast(108%);
			right: -15px;
			bottom: 7px;
			width: 16px;
			height: 16px;
		}
	}
}

// partners
.partners {
	padding: 70px 0;

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__img {
		opacity: 0.5;
		cursor: pointer;
		transition: opacity 0.5s ease;

		&:hover {
			opacity: 1;
		}
	}
}

// news
.news {
	margin-bottom: 70px;

	&__inner {
    margin-bottom: 30px;
		display: flex;
		justify-content: space-between;
	}

	&__all {
		margin-bottom: 20px;
		@extend %opensans-700;
		text-transform: uppercase;
		color: $green-900;
		line-height: 1.3;
		font-size: 14px;
		position: relative;
		outline: transparent;
		border-bottom: 2px solid $green-900;
		transition: box-shadow 0.5s ease,
			border-bottom 0.5s ease,
			background 0.5s ease,
			color 0.5s ease;

		&:focus {
			background: $white;
			box-shadow: 0px 0px 0px 4px rgb(224, 237, 207);
			border-radius: 3px;
		}

		&:hover {
			color: #4D800C;
		}

		&:active {
			border-bottom: 2px solid $green-200;
		}
	}

	&__card {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
		border-radius: 6px;
		width: calc(33% - 20px);
	}

	&__link {
		&:hover {
			color: $green-900;
		}
	}

	&__day {
		margin-left: 20px;
		position: absolute;
		background-color: $white;
		@extend %opensans-700;
		font-size: 10px;
		line-height: 14px;
		letter-spacing: 0.1em;
		color: $dark-900;
		width: 65px;
		text-align: center;
		border-radius: 0px 0px 4px 4px;
		z-index: 1;
		padding: 8px;

		& span {
			@extend %ruda-600;
			font-size: 30px;
			line-height: 30px;
			text-transform: uppercase;
		}
	}

	&__img {
		position: relative;
	}

	&__text {
		padding: 20px;
		color: $dark-900;
		@extend %opensans-600;
		font-size: 16px;
		line-height: 1.5;
		transition:
			color 0.5s ease;

		&:hover {
			color: $green-900;
		}
	}
}

// footer
.footer {
	background-color: $dark-800;
}

.footer-top {
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;

	&__img {
		margin: 30px 0;
		max-width: 200px;
		max-height: 60px;
		fill: $white;

		&:focus {
			outline: none;
		}
	}

	&__text {
		margin-bottom: 20px;
		color: $white;
	}

	&__form-input {
		padding: 12px;
		border: none;
		border-radius: 6px 0px 0px 6px;

		&::placeholder {
			color: #4F4F4F;
		}
	}


	&__form-btn {
		@extend %opensans-700;
		text-transform: uppercase;
		color: $white;
		padding: 12px 20px;
		background-color: $green-900;
		border-radius: 0px 6px 6px 0px;
		border: none;
    z-index: 1;
		float: right;
		outline: transparent;
		transition: box-shadow 0.5s ease,
			background 0.5s ease,
			color 0.5s ease;

		&:focus {
			box-shadow: 0px 0px 0px 4px $green-200;
		}

		&:hover {
			background: #4D800C;
		}

		&:active {
			color: rgba(255, 255, 255, 0.5);
		}
	}

	&__item,
	&__contact-items:not(:last-child) {
		margin-bottom: 20px;
	}

	&__items:not(:first-child) {
		padding-top: 130px;
	}

	&__link,
	&__contact-item {
		line-height: 1.4;
		color: $white;
	}

	&__contact {
		margin-bottom: 20px;
	}

	&__social {
		display: flex;
	}

	&__social-item {
		outline: transparent;
		transition: box-shadow 0.5s ease,
			background 0.5s ease,
			opacity 0.5s ease;

		&:not(:last-child) {
			margin-right: 12px;
		}

		&:focus {
			box-shadow: 0px 0px 0px 3px $green-200;
			border-radius: 3px;
		}

		&:hover {
			opacity: 0.5;
		}

		&:active {
			background: rgb(224, 237, 207, 0.5);
		}
	}

	&__social-img {
		fill: $white;
		width: 32px;
		height: 32px;
	}
}

.footer-bottom {

	border-top: 1px solid rgb(255, 255, 255, 0.1);
	padding: 25px 0;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__pay {
		display: flex;
	}

	&__pay-img {
		fill: $white;
		width: 93px;
		height: 30px;
	}

	&__pay-item:not(:last-child) {
		margin-right: 25px;
	}

	&__copy {
		line-height: 1.4;
		color: $white;
	}
}