.presence {
	margin-bottom: 6px;
	@extend %opensans-600;
	font-size: 10px;
	line-height: 1;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	&__item {
		&--instock {
			color: $green-900;
		}

		&--ends {
			color: $red-900;
		}

		&--nostock {
			color: $silver-600;
		}
	}
}