.footer-bottom {

	border-top: 1px solid rgb(255, 255, 255, 0.1);
	padding: 25px 0;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__pay {
		display: flex;
	}

	&__pay-img {
		fill: $white;
		width: 93px;
		height: 30px;
	}

	&__pay-item:not(:last-child) {
		margin-right: 25px;
	}

	&__copy {
		line-height: 1.4;
		color: $white;
	}
}